<div class="ui container segment">
  <div class="ui vertical stripe segment">

    <h2 class="ui center aligned header">Welcome to d3CMap</h2>
    <div class="ui middle aligned stackable grid container">

      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">We Help Companies and Companions</h3>

          <p>
            We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure framework goodness.
          </p>

          <h3 class="ui header">We Make Ambitious Applications</h3>

          <p>
            Yes that's right, you thought it was the stuff of dreams, but even our applications are ambitious.
          </p>
        </div>

        <div class="six wide right floated column">
          <img src="images/white-image.png" class="ui large bordered rounded image">
        </div>
      </div>

      <div class="row">
        <div class="center aligned column">
          {{link-to "Learn More" "about" class="ui huge teal button"}}
        </div>
      </div>
    </div>
  </div>
</div>
