
<Input
  @value={{this.data.host}}
  class="form-control"
  autocomplete="url"
  placeholder="URL[:port] of API Host" >
</Input>

<Input
  @value={{this.data.user}}
  class="form-control"
  autocomplete="username"
  placeholder="User (email)">
</Input>
<Input
  @value={{this.data.token}}
  class="form-control"
  autocomplete="current-password"
  placeholder="Authentication Token">
</Input>

<span class="pull-right">
  {{elem/button-refresh
    onClick=(action 'getDatasets')}}
</span>
