.tutorial {
	width: 100%;
    height: 150px;
    position: relative;
}

.axis, .text {
  font: 10px sans-serif;
}

.label, .text {
  font: 12px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}