# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/backend/client
/tmp
/log
*.log

# dependencies included in build
# These patterns ignore these directories :
#   backend/node_modules/  frontend/bower_components/  frontend/node_modules/
node_modules
bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/builds
/logs

# emacs backup files
*~
# etags file
TAGS
.vscodeignore
