<div>
  <div class="genotype-controls haplotypes-samples">

    {{form/select-multiple
      selectedValue=this.haplotypesSelected
      values=this.haplotypesSamplesText
      selectedGroupChanged=(action this.selectedHaplotypeChanged) }}

  </div>
</div>
