<div  class="panel-section">
{{#elem/panel-container state="primary" as |panelContainer|}}
  {{#elem/panel-heading icon="search" panelContainer=panelContainer}}
    Selected Server
  {{/elem/panel-heading}}

  {{#if panelContainer.showComponent}}

    <div  class="panel panel-primary selected-server">
      <span
	class="apiServer"
	style={{this.borderStyle}} >
	{{this.apiServer.tabText}}
      </span>
    </div>

    {{yield}}

  {{/if}} {{!-- showComponent --}}
{{/elem/panel-container}}


</div>