<div class="btn-group btn-group-xs" style="padding-left:5px">
  <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{elem/icon-base name='option-horizontal'}}
  </button>
  <ul class={{menuRight}}>
    {{yield}}
  </ul>
</div>