{{#if this.icon}}
  {{elem/icon-base name=this.icon}}&nbsp;
{{/if}}


    <span class="pull-right">
      {{x-toggle
        theme='light'
        value=this.panelContainer.showComponent
        onToggle=(action this.panelContainer.toggleShow this.panelContainer) }}
    </span>

{{yield}}
