{{#if heading}}
  <div class="panel-heading">
    {{heading}}
  </div>
{{/if}}

{{#if this.isMultiline}}
  <textarea class="panel-body">
    {{yield}}
  </textarea>
  {{else}}
  <div class="panel-body">
    {{yield}}
  </div>
{{/if}}

