/* -------------------------------------------------------------------------- */

body.ember-application > div.ember-view > div.container
{
    padding-right: 5px;
    padding-left: 5px;
}

/* -------------------------------------------------------------------------- */

svg {
  font-size: 14px;
}
svg.verticalTitle
{
  padding-top: 80px;
}

.active {
  stroke: #f93;
  /*stroke-width: 2px;*/
}

.map.selected g.axis text {
  font-weight: bold;
}

.map.zoomed g.axis {
    cursor: move;
}

/* ---------------------------------- */

/* These selectors are for HTML and SVG respectively; they are bundled so that
the user can easily edit them at the same time, keeping colours in sync.  */
div.drawing-controls > div.flowButtons > .flowButton.alias,
.foreground > g.alias > g > path {
  /* HTML  */
  border-color : #955;
  background-color: #955;
  /* SVG  */
  stroke: #955;
}
div.drawing-controls > div.flowButtons > .flowButton.U_alias,
.foreground > g.U_alias > g > path {
  border-color : #545;
  background-color: #545;
  stroke: #545;
}
div.drawing-controls > div.flowButtons > .flowButton.direct,
.foreground > g.direct > g > path {
  border-color : #484;
  background-color: #484;
  stroke: #484;
}

.foreground path {
  fill: none;
  stroke-opacity: .125;
  stroke-width: 0.75px;
  stroke: #808;
}

/* or :hover if transition is not required. */
.devel .foreground path.hovered {
    /* was d3:easeElastic */
    transition:
    stroke		800ms ease-in-out,
    stroke-width	800ms ease-in-out,
    stroke-opacity	800ms ease-in-out,
    fill		800ms ease-in-out;

    /* element stroke is set by pathColourUpdate(); override that via !important.  */
    stroke : #880044	!important;
    stroke-width : 6px;
    stroke-opacity : 1;
    fill : none;
}
.foreground .faded path {
  fill: none;
  stroke: #000;
  stroke-width: 0.75px;
  stroke-opacity: .05;
}

.devel .foreground path {
  stroke-opacity: 1;
  stroke-width: 2px;
}
.foreground path.reSelected
{
    stroke : red;
}
/* this rule targets the legend (html) and the path (svg); different css
 * attributes apply to each; the purpose of combining the rule is to enable a user
 * to easily navigate from the legend to the css rule. */
div#scaffoldLegend > ul > li.scaffoldA,
.foreground path.scaffoldA
{
    /* stroke : red; */
    color : red;
    stroke-dasharray : 1 2 3 4 5;
}
div#scaffoldLegend
{
  float: left;
  margin-right: 1em;
}
div#scaffoldLegend > ul
{
  list-style-type: none;
}
.foreground path.strong
{
    stroke-width : 2px;
    stroke-opacity: 1;
}

/*.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}*/

.axis line, .axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff;
  cursor: move;
  text-anchor: middle;
}
.ap > text {
  text-anchor: middle;
}
.ap.rightmost.not_top > text {
  text-anchor: start;
}
.ap.leftmost.not_top > text {
  text-anchor: end;
}

/* -------------------------------------------------------------------------- */
#grid {
    float: right;
    /* padding-right: 100px; */
    padding-bottom: 50px;
    /* margin-left: 10em;	*/
    position:relative;}
.row, .header {
 /* clear: left; */
 font-size: 12px; line-height: 18px; height: 18px;}
.row:nth-child(odd) { background: rgba(0,0,0,0.05); }
.header { font-weight: bold; }
.cell { float: left; overflow: hidden; white-space: nowrap; width: 180px; height: 18px;}
.col-0 { width: 100x; }

div.colouredMarkers
{
  white-space: pre;
  float: left;
  min-height: 10em;
  min-width: 6em;
}

/* -------------------------------------------------------------------------- */

.axis path,
.axis line{
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
/* Brush css style */
.brush .extent {
  stroke: #000;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

/* Button */
.btn { cursor: pointer; }

.btn > rect
{
  width: 60px;
  height: 30px;
  rx: 3px;
  ry: 3px;
  fill: #eee;
  stroke: #ddd;
}
.btn > text
{
  text-anchor: middle;
}


/* Tool tip */
div.highlightMarker,
div.toolTip{
  position:absolute;
  text-align: lift;
  padding: 2px;
  font: 12px sans-serif;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border: 0px;
  border-radius: 2px;
}

div.highlightMarker
{
    height : "auto";
    width: "auto";
    opacity:  0.9;
    display: "inline";
}

/* -------------------------------------------------------------------------- */
/* target zone for axis stacking drag&drop
 */
/** When dragging, change cursor for all elts other than .current. */
.axisDrag {
    cursor: no-drop;
}
.axisDrag .stackDropTarget.current {
    display : inherit;
}
.dragTransition .stackDropTarget {
    pointer-events: none !important;
}
.stackDropTarget {
    display : none;
    pointer-events: none;
    cursor: copy;

    /* These values are overridden when .current and .dragHover */
    fill: rgba(80, 80, 255, 0.1);
    stroke: rgba(255, 80, 80, 0.4);
    // stroke-width:1px;
    stroke-dasharray: 3,8;
}
.stackDropTarget.current {
    pointer-events: inherit;
    cursor: copy;
}
.stackDropTarget.current.dragHover {
    fill: rgba(80, 80, 255, 0.2);
    stroke: rgba(255, 80, 80, 0.6);
    stroke-dasharray: 2,6;
}

/* -------------------------------------------------------------------------- */
/** Styles for multi-level dropdown
 *  From http://bootsnipp.com/snippets/featured/multi-level-dropdown-menu-bs3 */

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
ul.dropdown-menu[role=menu]
{
    padding-top: 0px;
}
div.btn-group > button.btn.btn-default:hover
{
    font-weight : bold;
}
div.btn-group.open > button.btn.btn-default,
button.btn.btn-default.dropdown-toggle,
li.dropdown-submenu,
ul.dropdown-menu > li.enabled
{
    border-width : 2px;
    background-color: rgba(51, 122, 183, 0.2); /* #337ab7 0.5 opacity*/
}
ul.dropdown-menu :hover,
ul.dropdown-menu > li.enabled > a
{
    font-weight : bold;
}
ul.dropdown-menu
{
    background-color: #fff;
}
ul.dropdown-menu > li > a
{
    opacity : 1;
}
li.dropdown-submenu > ul.dropdown-menu {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: -2px;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
/* -------------------------------------------------------------------------- */
/** style the flow control buttons in  div.drawing-controls */
div.drawing-controls > div.flowButtons > .flowButton
{
    float: left;
    width: 35px;
    height: 35px;
    margin: 0px 5px;

    border-radius: 16px;
    border-width: 10px;
    /* border-style: dashed; */
}
div.drawing-controls > div.flowButtons > .flowButton.selected
{
    border-width: 8px;
    /* border-style: solid; */
    border-radius: 0px;
}
/* -------------------------------------------------------------------------- */
/* style the flowButtons popover menu */
div.drawing-controls > div.flowButtons > div.popover > button
{
    width: 100%;
}

/* -------------------------------------------------------------------------- */

/* @see setupToggleModePublish() */
#checkbox-toggleModePublish
{
  margin-left: 1.5em;
}

svg > g.publishMode .btn
{
  display: none;
}

/* -------------------------------------------------------------------------- */

#choose_path_colour_scale > table > tr > th,
#choose_path_colour_scale > table > tr > td
{
  padding: 0 1em;
}
/* -------------------------------------------------------------------------- */
