svg {
  font-size: 14px;
}

.active {
  stroke: #000;
  stroke-width: 2px;
}

.map.selected g.axis text {
  font-weight: bold;
}

.map.zoomed g.axis {
    cursor: move;
}

.foreground path {
  fill: none;
  stroke-opacity: .3;
  stroke-width: 2px;
  stroke: #808;
}

.foreground .fade path {
  stroke: #000;
  stroke-opacity: .05;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line, .axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff;
  cursor: move;
}

#grid { padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 50px;
    padding-left: 100px; position:relative;}
.row, .header { clear: left; font-size: 12px; line-height: 18px; height: 18px;}
.row:nth-child(odd) { background: rgba(0,0,0,0.05); }
.header { font-weight: bold; }
.cell { float: left; overflow: hidden; white-space: nowrap; width: 180px; height: 18px;}
.col-0 { width: 100x; }
.axis path,
.axis line{
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 60px;                  
  height: 28px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}
/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
/* Brush css style */
.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}