
<div>
PBI-14-1406-s005  : 1B
</div>

<div class="popover fade top in" role="tooltip" id="popover501928" style="top: 147.205px; left: 402.866px; display: block;">
    <div class="arrow" style="left: 50%;">
    </div>
    <h3 class="popover-title" style="display: none;">
    </h3>
    <div class="popover-content">
	<button class="DeleteMap" id="Delete_5f6170ef2d36ffa16a2383e2" href="#">╳</button>
	<button class="FlipAxis" id="Flip_5f6170ef2d36ffa16a2383e2" href="#">⇅</button>
	<button class="ExtendMap" id="Extend_5f6170ef2d36ffa16a2383e2" href="#">⇲</button>
    </div>
</div>

<ul>
  <li>
    IWGSC_MIPSv2.2_HC : 1B
  </li>
   <li>
    IWGSC_genes_HCv1.1 : 1B
  </li>
   <li>
    IWGSC_DArT : 1B
  </li>
</ul>