{{!-- logo, id0, (concat 'all' axis) .   event='click' --}}
<EmberTooltip
  @tooltipClass="axis-menu" @innerClass="axis-menu-inner"
  @popperContainer="body" @targetId={{concat 'all' axis}}
  @isShown={{true}} @event='none' @hideOn='click' >


<div>
PBI-14-1406-s005  : 1B
</div>




<ul>
  <li>
    IWGSC_MIPSv2.2_HC : 1B
  </li>
   <li>
    IWGSC_genes_HCv1.1 : 1B
  </li>
   <li>
    IWGSC_DArT : 1B
  </li>
</ul>

    <div class="menu-icons">
	<button class="DeleteMap" id="Delete_5f6170ef2d36ffa16a2383e2" href="#">╳</button>
	<button class="FlipAxis" id="Flip_5f6170ef2d36ffa16a2383e2" href="#">⇅</button>
	<button class="ExtendMap" id="Extend_5f6170ef2d36ffa16a2383e2" href="#">⇲</button>
    </div>

</EmberTooltip>