<div class="ui container">
  {{link-to 'd3CMap' 'application' class="header item"}}
  <div class="right menu">
    {{link-to 'Home' 'index' class="item"}}
    {{link-to 'About' 'about' class="item"}}
  </div>
</div>
