/* used in design_draw_diagram.html, design_stacks_diagram.html */

.mermaid.classDiagram
{
  fill-opacity: 0.5;
  fill: white;
}
div > .mermaid
{
  float: left;
}
div > .mermaid,
div > .mermaid > svg
{
  overflow : visible;
}
/* 2nd diagrams was getting an extra div, fixed now; this rule handles it if it occurs :
* e.g. div#dmermaidChart1 > svg#mermaidChart1
* those need 100%
*/
.mermaid.classDiagram > div,
.mermaid.classDiagram > div > svg
{
	height: 100%;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*  Default colours of classdiagram are black fill, so only the rectangle shape is visible, nothing else.
 * The following rules give distinct colours to each information type.
 * These colours are place-holders, and can be replaced with systematically chosen, attractive colours.
 */
/* Setting to none was useful when developing the rules, can be discarded. */
/* svg .classGroup .classText, */
svg .classLabel > text,
svg .classGroup > text,
svg .classGroup .classText > tspan
{
  /* stroke: none; */
}
svg .classLabel > text
{
  stroke: midnightblue;
}
svg .classGroup > text
{
  stroke : darkred;
}
svg .classGroup .classText > tspan
{
  stroke: royalblue;
}

svg > path
{
  stroke : orange;
}
svg .classGroup > line
{
  stroke : red;
}
/* svg .classGroup > text */
svg
{
 stroke : purple; 
}
svg .classGroup rect
{
 stroke : blue; 
}
