<ul>
  {{#each data as |dataset|}}
    <li  class="list-group-item list-group-item-info" >{{dataset.name}}
      {{record/entry-blocks-array
        loadBlock="loadBlock"
        data=dataset.blocks}}
    </li>
  {{/each}}
</ul>
