
<li class="list-group-item list-group-item-info" >
  {{#record/entry-expander nodeName=name}}

    {{!-- log 'entry-level' name values --}}
    <ul>
      {{record/entry-values values=valuesFiltered levelMeta=levelMeta
        name=name
        parentDone=true
        controlOptions=controlOptions
        loadBlock="loadBlock"
        selectExpander=selectExpander
        selectBlock="selectBlock"
        selectedBlock=selectedBlock
        selectDataset="selectDataset"}}
    </ul>

  {{/record/entry-expander}}

</li>
