<ul>
  {{#each data as |block|}}
    <li class="list-group-item list-group-item-info" style="display: inline-block;" >
      {{record/entry-block-add-button
        loadBlock="loadBlock"
        entry=block }}
      {{block.name}}
    </li>
  {{/each}}
</ul>
