
<li class="list-group-item list-group-item-info" >
  {{#record/entry-expander nodeName=name
      selectExpander=selectExpander
    }}

    {{!-- log 'entry-node' name values --}}
    <ul>
      {{record/entry-values values=values.node levelMeta=levelMeta
        name=name
        parentDone=true
        controlOptions=controlOptions
        loadBlock="loadBlock"
        selectBlock="selectBlock"
        selectedBlock=selectedBlock
        selectDataset="selectDataset"}}
    </ul>

  {{/record/entry-expander}}

</li>
