
<li class="list-group-item list-group-item-info" >
  {{#record/entry-expander nodeName=this.name
      controlOptions=this.controlOptions
      values=this.values
      levelMeta=this.levelMeta
      selectExpander=this.selectExpander}}

    {{!-- log 'entry-level' name values --}}
    <ul>
      {{record/entry-values
        values=this.valuesFiltered
        levelMeta=this.levelMeta
        name=this.name
        parentDone=true
        controlOptions=this.controlOptions
        loadBlock="loadBlock"
        selectExpander=this.selectExpander
        selectBlock="selectBlock"
        selectedBlock=this.selectedBlock
        selectDataset="selectDataset"
      }}
    </ul>

  {{/record/entry-expander}}

</li>
