<ul>
  {{#each-in data as |key value|}}
    <li class="list-group-item list-group-item-info" >{{key}}
      {{record/entry-blocks
        loadBlock="loadBlock"
        data=value}}
    </li>
  {{/each-in}}
</ul>
