<ul class="list-group borderless">
  {{#each data as |dataset|}}
    <li  class="list-group-item list-group-item-info" >
      {{#record/entry-expander nodeName=dataset.name}}
        {{record/entry-blocks-array
          loadBlock="loadBlock"
          data=dataset.blocks}}
      {{/record/entry-expander}}
    </li>
  {{/each}}
</ul>
