<ul>
  {{#each-in dataTree as |key value|}}
    <li  class="list-group-item list-group-item-info" >{{key}}
      {{record/entry-scopes
        loadBlock="loadBlock"
        data=value}}
    </li>
  {{/each-in}}
</ul>
