

{{elem/button-base
  classSize='xs'
  classColour='default'
  icon=expandIcon
  onClick=(action "switch")
}}
<span title={{nodeName}} class="truncate" style="flex: 1;">
  {{nodeName}}
</span>

{{#if layout.active}}
    {{yield}}
  {{/if}}

