
<li class="list-group-item list-group-item-info" >
  {{#record/entry-expander nodeName=this.name
      controlOptions=this.controlOptions
      values=this.values
      levelMeta=this.levelMeta
      selectExpander=this.selectExpander
      selectBlock=this.selectBlock
      selectDataset=this.selectDataset
  }}

    {{!-- log 'entry-level' name values --}}
    <ul>
      {{record/entry-values
        values=this.valuesFiltered
        levelMeta=this.levelMeta
        name=this.name
        parentDone=true
        controlOptions=this.controlOptions
        loadBlock=this.loadBlock
        selectExpander=this.selectExpander
        selectBlock=this.selectBlock
        selectedBlock=this.selectedBlock
        selectDataset=this.selectDataset
      }}
    </ul>

  {{/record/entry-expander}}

</li>
