
<li class="list-group-item list-group-item-info" >
  {{elem/button-base
  classSize='xs'
  classColour='default'
  icon=expandIcon
  onClick=(action "switch")
  }}
  <span title={{name}} class="truncate" style="flex: 1;">
  {{name}}
</span>

  {{#if layout.active}}
    <ul>
      {{#each-in values as |scopeName blocks|}}
        {{record/entry-scope
          loadBlock="loadBlock"
          scopeName=scopeName
          blocks=blocks
          selectBlock="selectBlock"
          selectedBlock=selectedBlock
          selectDataset="selectDataset"}}
      {{/each-in}}
    </ul>
  {{/if}}
</li>
