<ul>
  {{#each-in data as |key value|}}
    <li class="list-group-item list-group-item-info" >
      {{elem/button-base
      classSize='xs'
      classColour='default'
      icon=expandIcon
      onClick=(action "switch")
      }}
      {{key}}
      {{#if layout.active}}
        {{record/entry-blocks
          loadBlock="loadBlock"
          data=value}}
      {{/if}}
    </li>
  {{/each-in}}
</ul>
