{{!-- The datasets level is omitted from the parent / scope / block tree browser
     after the first commit a400464, so entry-datasets is not currently used.  --}}
<ul>
  {{#each data as |dataset|}}
    <li  class="list-group-item list-group-item-info" >{{dataset.name}}
      {{record/entry-blocks-array
        loadBlock="loadBlock"
        data=dataset.blocks}}
    </li>
  {{/each}}
</ul>
