{{!-- The datasets level is omitted from the parent / scope / block tree browser
     after the first commit a400464, so entry-datasets is not currently used.  --}}
<ul>
  {{#each-in data as |key value|}}
    <li  class="list-group-item list-group-item-info" >{{key}}
      {{record/entry-scopes
        loadBlock="loadBlock"
        data=value}}
    </li>
  {{/each-in}}
</ul>
