<% var email_topic = 'Welcome to Pretzel'; %>
<%- include _header.ejs %>

<p>
  The administrator has approved your access. You can now <a href="<%= login_url %>">login</a>.
</p>


<%- include _footer.ejs %>