<% var email_topic = 'Reset Your Password'; %>
<%- include _header.ejs %>

<p>
  You have requested a password reset for your Pretzel account. Please click the link below to proceed.
</p>

<p>
  <a href="<%= reset_href %>">Click here to reset your password</a>
</p>

<%- include _footer.ejs %>