<% var email_topic = 'Verify Your Email'; %>
<%- include _header.ejs %>

<p>
  Thanks for registering. Please click the link below to complete your registration.
</p>

<p>
  <a href="<%= verifyHref %>">Click here to verify your email</a>
</p>

<%- include _footer.ejs %>