{{!-- <div class="container"> --}}
<div class="" style="display:flex; height: 100vh; flex-direction: column">
  {{app-header onLogin='transitionToLoginRoute'}}
  <div class="body" style="display: flex;">
    {{outlet}}
  </div>
</div>
