<div class="container">
  <div class="navbar" role="navigation">
    <ul class="nav nav-pills">
      <li role="presentation" class="active">{{#link-to 'index'}}Home{{/link-to}}</li>
      <li role="presentation">{{#link-to 'mapview'}}Map Viewer{{/link-to}}</li>
      <li role="presentation">{{#link-to 'about'}}About{{/link-to}}</li>
    </ul>
  </div>

  <div class="body">
    {{outlet}}
  </div>
</div>
