{{!-- <div class="container"> --}}
<div class="" style="position: fixed; width:100%; height:100%">
  <div style="position: fixed; top:0; height:69px; width:100%">
    {{app-header onLogin='transitionToLoginRoute'}}
  </div>
  <div class="body" style="position: fixed; width:100%; top:69px; bottom:0">
    {{outlet}}
  </div>
</div>

{{new-datasource-modal}} 
