{{page-title "Pretzel"}}

{{!-- <div class="container"> --}}
<div id="Page-Outer" class="" style="width:100%;">
  <div id="Page-Nav" style="width:100%">
    {{app-header onLogin=(action 'transitionToLoginRoute') parsedOptions=this.parsedOptions}}
  </div>
  <div id="Page-Body" class="body" style="width:100%;">
    {{outlet}}
  </div>
  <div id="ember-bootstrap-wormhole"></div>
</div>

