<<<<<<< HEAD
{{!-- <div class="container"> --}}
<div id="Page-Outer" class="" style="width:100%;">
  <div id="Page-Nav" style="width:100%">
    {{app-header onLogin='transitionToLoginRoute' parsedOptions=parsedOptions}}
  </div>
  <div id="Page-Body" class="body" style="width:100%;">
    {{outlet}}
  </div>
</div>
=======
{{page-title "PretzelFrontend"}}

{{!-- The following component displays Ember's default welcome message. --}}
<WelcomePage />
{{!-- Feel free to remove this! --}}
>>>>>>> 7af446f8 (v3.22.0...v3.28.6)

