<div class="jumbotron">
  <h1>Pretzel</h1>
  <p>An Express/Ember/D3 framework to display and interactively navigate complex datasets.</p>
  <p>
    {{#link-to 'about' classNames='btn btn-primary btn-lg' tagName='a'}}
      Learn more
    {{/link-to}}
  </p>
</div>