<p>
  Pretzel is an open-source web application platform to display and interactively navigate complex genetic datasets. The intended recipient of this email is <%= email_recipient %>. If you have received this email in error, please ignore it.
</p>