{{#if block}}
  {{log 'blockFeatures' blockFeatures.length}}
  {{blockFeatures.length}}
{{else}}
<div class="Chart">
  {{content-editable
    value=selection
    placeholder="Paste Chart Here"
    class="chart pasteData"
    type="text"}}

</div>
{{/if}}
