{{!-- axis-2d is used within a <foreignObject> within a g.axis, created by apShowExtend()
   It is rendered into div#axis2D (will add APid) using ember-wormhole.
   --}}
{{#ember-wormhole to="axis2D"}}
  <div class="resizer inFO" style="float:right;">
    {{!-- Being within <foreignObject>, this alternative is used to create and position the resizer arrow;
                Because content is not displayed when position: relative; set via  .resizer:not(.inFO)::after.
                Setting class inFO skips that ::after content, and instead the content is given here.
                --}}
    &#x21F9;
    <div class="subMenu">
      <button {{action "addTracks"}}>&#x2225;</button>
      <button {{action "addChart"}}>&#x2630;</button>
      <button {{action "addTable"}}>&#x25A6;</button>
    </div>
  </div>

  <div class="accordion-div">
    {{component "axis-accordion" subComponents=subComponents data=data tableData=tableData axis=this}}
  </div>


{{/ember-wormhole}}

