{{#ember-wormhole to="axis2D"}}
  <div class="resizer" style="float:right;">
    <span class="glyphicon glyphicon-download-alt"></span>
    <span class="glyphicon glyphicon-scale"></span>
    <span class="glyphicon glyphicon-upload"></span>
  </div>

  {{#data-table data=data selectionMode='multiple' 
     selectionChanged=(action 'selectionChanged') classNames=tableClassNames as |t|}}
  {{t.selectionColumn}}
  {{t.column propertyName='marker' name='Marker'}}
  {{t.column propertyName='position' name='Position'}}
{{/data-table}}
{{/ember-wormhole}}
