  <div class="resizer" style="float:right;">
 </div>

<div id='holder' class="bordered">
<!--<ul>
<li>{{selectedMapset.name}}</li>
</ul> -->


</div>

{{yield}}

{{#if axis2DEnabled}}
  {{axis-2d data=axisData}}
{{/if}}