  <div class="resizer" style="float:right;">
    <span class="glyphicon glyphicon-resize-horizontal"></span>
 </div>

<div id='holder' class="bordered">
<!--<ul>
<li>{{selectedMapset.name}}</li>
</ul> -->


</div>

{{yield}}
