<div class="pull-left bordered control-panel" >
  <div class="btn-group space-between">
    <button {{action "clearScaffoldColours"}}>Clear Scaffold Colours</button>
    <button {{action "flipRegion"}}>Flip region</button>
    <button {{action "resetZooms"}}>Reset Zooms</button>
  </div>
</div>
<div class="pull-left bordered control-panel" >
  <div class="btn-group">
    <div>
      <input type="checkbox" 
	     id="checkbox-toggleModePublish" 
	     name="toggleCheckbox" 
      />
      <label>Publish Mode</label>
    </div>
    <div>
      <input type="checkbox" 
	     id="checkbox-toggleShowAll" 
	     name="toggleShowAll" 
	     checked="checked"
      />
      <label>Show All</label>
    </div>
    <div>
      <input type="checkbox" 
	     id="checkbox-toggleShowSelectedMarkers" 
	     name="toggleShowSelectedMarkers" 
	     checked="checked"
      />
      <label>List Selected Markers</label>
    </div>
  </div>

  <div class="input-range-group btn-group">
    <div>
      <label>Path Opacity</label>
      <input type="range" 
	     id="range-pathOpacity" 
	     name="pathOpacity" 
	     min="0" max="100"
	     value="12.5"
      />
    </div>

    <div>
      <label>Path Width</label>
      <input type="range" 
	     id="range-pathWidth" 
	     name="pathWidth" 
	     min="0" max="300"
	     value="75"
      />
    </div>

    <div>
      <label>Synteny Block Size Threshold</label>
      <input type="range" 
	     id="range-sbSizeThreshold" 
	     name="sbSizeThreshold" 
	     min="0" max="50"
	     value="22"
      />
    </div>
  </div>

</div>
