{{!-- app/components/marker-detail.js --}}

{{!-- {{#if selection}} --}}
Selected {{selection.length}}
{{!-- {{/if}} --}}


{{#if selection}}
No markers selected!
{{/if}}

{{!-- {{content-editable
  value=selection
  placeholder="Markers to be coloured"
  escape-press="putContent"
  class="colouredMarkers"
  type="text"}} --}}

<div id='griddy'></div>

{{yield}}

