    {{#if noData}}
      {{#unless blockSamples}}
        <div class="well">
            <span>Select individuals to display using Dataset Explorer</span>
        </div>
      {{/unless}}
    {{/if}}
    <div id="observational-table"></div>
    <span id="length_checker" style="position:absolute; visibility: hidden"></span>
    {{rowHeaderWidth}}
