<div id="matrix-view" style="width:100%; height: 100%">
    {{panel/left-panel
        displayData=this.displayData
        view="matrixview"
        loadBlock=this.loadBlock
        removeBlock=this.removeBlock
        selectBlock=this.selectBlock
    }}
    {{matrix-view
      displayData=this.displayData
      selectedBlock=this.selectedBlock
      blockSamples=false
    }}
</div>
