<div id="matrix-view" style="width:100%; height: 100%">
    {{panel/left-panel
        displayData=displayData
        view="matrixview"
        loadBlock="loadBlock"
        removeBlock="removeBlock"
        selectBlock="selectBlock"
    }}
    {{matrix-view
      displayData=displayData
      selectedBlock=selectedBlock
      blockSamples=false
    }}
</div>
