<div class="modal fade" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title text-center">{{title}}</h2>
      </div>
      {{yield}}
    	<div class="modal-footer">
		  </div>
    </div>
  </div>
</div>