{{#modal-dialog modal-id="new-datasource-modal" title="New Datasource" confirm-label="Connect" onConfirm="onConfirm"}}
  <table class="table">
      <tbody>
          <tr>
              <td>Host : Port</td>
              <td><input name="host"></td>
          </tr>
          <tr>
              <td>User</td>
              <td><input name="user"></td>
          </tr>
          <tr>
              <td>Password</td>
              <td><input name="password" type="password"></td>
          </tr>
      </tbody>
  </table>
{{/modal-dialog}}
