  <button {{action "closeToolTip"}}>&#x2573;</button>
  {{!-- #ember-tooltip targetId=targetId  isShown=true       }} {{!-- enableLazyRendering=true event='none' --}}
  <span>Path details and actions:</span>
  {{!-- #each ([0,1]) as end  --}}
  {{#each features as |feature|}}
    {{feature-name data=data feature=feature}}
  {{/each}}
  {{!-- /ember-tooltip --}}
