<span id="PathHoverTarget">PathHoverTarget</span>
{{#ember-popover targetId=targetId  isShown=true       }} {{!-- enableLazyRendering=true event='none' --}}
  <span>Path details and actions:</span>
  {{!-- #each ([0,1]) as end  --}}
  {{#each markers as |marker|}}
    {{marker-name data=data marker=marker}}
    {{/each}}
  {{/ember-popover}}
