<div id='colouredMarkers'></div>
<button {{action "flipRegion"}}>Flip region</button>
{{content-editable
  value=selection
  placeholder="Markers to be coloured"
  escape-press="putContent"
  class="colouredMarkers"
  type="text"}}

<div id='grid'></div>

{{yield}}
