<div id='colouredMarkers'></div>
{{content-editable
  value=markerNames
  placeholder="Markers to be coloured"
  escape-press="putContent"
  class="colouredMarkers"
  type="text"}}

<div id='grid'></div>

{{yield}}
