<div id='colouredMarkers'></div>
{{content-editable value=colouredMarkers
                   placeholder="Markers to be coloured"
		   escape-press="putContent"
		   enter="putContent"
		   class="colouredMarkers"
                   type="text"}}

<div id='grid'></div>

{{yield}}
