<!--
{{ember-table
  height=400
  hasFooter=false
  enableContentSelection=true
  columns=columns
  content=content
}}
-->
<div id="table-brushed"> </div>

{{#if formFeatureEditEnable}}
  {{#ember-modal-dialog modal-id="feature-edit-modal" title="Feature Edit" header-icon='edit'}}
      {{form/feature-edit cell=formFeatureEditEnable close=(action this.closeFeatureEdit) tableData=data}}
  {{/ember-modal-dialog}}
{{/if}}