<div class="ui padded center aligned container segment">
  <h1 class="ui header">About</h1>

  <h2 class="ui header">This App Started As A <a href="http://seedsjs.com">Seed</a>!</h2>

  <img class="wireframe" src="images/media-paragraph.png">
</div>