{{!-- tagName is li --}}
{{#nav.item active=(bs-eq tab.activeId (concat "tab-" apiServer.tabId) ) }}
  <a href={{concat "#tab-" apiServer.tabId}}
   class="apiServer"
   style={{borderStyle}}
   onclick={{action serverTabSelected apiServer.tabId apiServerName apiServer}}>
    {{apiServer.tabText}}
  </a>

{{/nav.item}}

