<span class="input-group-btn">
  {{elem/button-base
    icon="plus"
    classColour="success"
    onClick=(action "addFilterOrGroup")
    disabled=data.length
  }}
</span>

<ul>
  {{#each data as |filterGroup|}}
    {{log 'filterGroup' filterGroup}}
    {{panel/filter-group
      data=filterGroup
      changed=(action changed filterGroup)
      deleteFilterOrGroup=(action deleteFilterOrGroup filterGroup) }}
  {{/each}}


</ul>
