
{{#elem/panel-container state="primary" as |panelContainer|}}
  {{#elem/panel-heading icon="search" panelContainer=panelContainer}}
    Feature Search
    <a class="margin-left-help" target="_blank" href="https://docs.plantinformatics.io/Basic-Functions/Search-tab/#feature-search"><i class="glyphicon glyphicon-question-sign"  style="color: white;"></i></a>
  {{/elem/panel-heading}}

  {{#if panelContainer.showComponent}}

  {{goto-feature-list  class="panel panel-primary"
    queryParamsState=this.queryParamsState
    selectedFeatures=this.selectedFeatures
    updateFeaturesInBlocks=this.updateFeaturesInBlocks
    loadBlock=(action this.loadBlock)
  }}

  {{/if}} {{!-- showComponent --}}
{{/elem/panel-container}}

